/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
  font: inter, san-serif;
}

.App {
  max-width: 550px;
  min-height: 700px;
  margin: auto;
  background-color: azure;
  border-radius: 30px;
}

Header {
  max-width: 550px;
  height: 45px;
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 20px 0 30px 0;
  object-fit: cover;
  border-radius: 10px;
}

.title {
  padding-left: 3px;
}

.Place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 25px;
  padding-bottom: 5px;
}

.sidetext {
  max-width: 65%;
  text-align: left;
  font-size: 0.8rem;
  margin: 15px;
  padding: 0;
}

a {
  color: rgba(128, 128, 128, 0.981);
}
.Image-container {
  min-width: 125px;
  height: 178px;
  overflow: hidden;
  padding: 3px;
}
.Mountain {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  flex-shrink: 0;
}
.location > img {
  padding-right: 5px;
  width: 7px;
}

h1,
h5,
p {
  margin: 5px 0;
  padding: 2px;
}

.Rule {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
  color: rgba(254, 192, 255, 0.923);
}
.country {
  display: inline;
  padding-right: 10px;
} */
